@model web.ViewModels.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/css/vendor.min.css" rel="stylesheet" />
    <style>
        .validation-summary-errors ul {
            list-style-type: none;
        }

        .validation-summary-valid.alert-danger {
            display: none;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>DonorGateway</b>Administration</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start</p>
            @using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username)
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            }
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</body>
</html>