<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/71500/671746/css/fonts.css" />
    <link href="~/css/vendor.min.css" rel="stylesheet" />
    <link href="~/css/splcenter-base.css" rel="stylesheet" />
    @*<link href="~/css/splcenter.css" rel="stylesheet" />*@
    <link href="~/css/main.css" rel="stylesheet"/>


</head>
<body>

    @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/splc.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
