@model rsvp.web.ViewModels.FinishFormViewModel
@{
    ViewBag.Title = "Finish";
}

<div class="container">


    <div class="row">
        <div class="col-md-12">
            @{
                var imgSrc = $"data:{Model.EventTemplateMimeType};base64,{Convert.ToBase64String(Model.EventTemplateImage)}";
            }
            <img src="@imgSrc" class="img-responsive center-block event-image" alt="Event Image" />
        </div>
    </div>

    
        @if (Model.IsAttending)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.EventTemplateYesResponseText)
                </div>
            </div>
        }

        @if (!Model.IsAttending)
            {
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.EventTemplateNoResponseText)
                </div>
            </div>
        }

        @if (Model.IsWaiting)
            {
            <div class="row">
                <div class="col-md-12">
                    Your name has been placed on waiting list.
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.EventTemplateFAQText)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.EventTemplateFooterText)
            </div>
        </div>

    
    @*@Html.ActionLink("Back", "Index", "Event", new { id = Model.EventName }, null)*@

</div>